@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  background: rgb(1, 4, 20);
  
}

.designApp {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.display {
  background: radial-gradient(circle, rgba(72,79,117,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 10px;
  border: inset 0px skyblue;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  height: 100px;
  width: 250px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: 600;

  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.buttons {
  display: flex;
}

button {
  cursor: pointer;
  position: relative;
  background: radial-gradient(circle, rgba(72,79,117,1) 0%, rgba(0,0,0,1) 100%);
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  border: solid 0px black;
  position: relative;
  font-size: 30px;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  transition: 0.5s;
  
}



button:hover {
  
}


